body{
	background-color: #00f6ff;
}

.main-pic{
	width        : 70%;
	height       : 80%;
	border-radius: 5%;
}

.green-text{
	color: #8bff00;
}

.dark-blue-background{
	background-color: #007bff;
}

.mid-blue{
	background-color: #42d1f4;
}

.image-center{
	margin: 0 auto;
}