body, html{
	background-color: #00f6ff;
	height: 100%;
}

.parallax{
	/*image for parallax*/
	background: url("Images/Me.jpg"); 

	/*specific height for parallax*/
	height: 70%;

	/*create the parallax scrolling effect*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.white-text{
	color: white;
}

.green-text{
	color: #8bff00;
}

.dark-blue-background{
	background-color: #007bff;
}

.image-center{
	margin: 0 auto;
}

.align-vert-center{
	margin-top: auto;
	margin-bottom: auto;
}